.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  margin-top: 0;
  margin-bottom: 42px;

  font-size: 36px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}
